# Directorios compilados
/dist
/build
/coverage

# Node
/node_modules

# Archivos generados
*.min.js
*.min.css

# Otros
package-lock.json
yarn.lock
pnpm-lock.yaml
*.md

# Archivos de datos grandes (GeoJSON, etc.)
utils/mapdata.js